header {
    font-size: xx-large;
    text-align: center;
    color: antiquewhite;
    text-decoration: none;



}

.links {
color:antiquewhite;
}

.links:hover {
    color: whitesmoke;
    cursor: pointer;  
}


.image-style {
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    float: row;
    display: inline-block;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    header {
        background-color: grey;
    }

    body {
        background-color: black color;
    }

    .image-style {
        display: inline-block;
    }
}

.images {
    display: flex;
}