container{ width: 1024px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px
 
}

body{ 
    background-color: #1e1e1c;
font-family: georgia, "times new roman", times,serif;
color: #faf4f4;
margin: 0;
padding: 0;

}

header {
    background-color: #333333;
    color: #eee;
    text-align: center;
    font-size: larger;

}

h1{
    color: #eee;
    font-size:28px;
    background-color: #333333;
    text-align: center;
}

h2{
    font-size: 24px;
    text-align: left;



}

#main-bio{
    float: left;
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;


}

#contact-info{
    float: right;
    width: 30%;
    line-height: 1.6;
    font-size: small;
}

button {
    background-color: #cd8d8d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: transparent;
}

button:hover {
    background-color: #555;
    transform: scale(1, 1);
}

#bio-image{

    border: 40px lightblue;
    border-radius: 50%;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 20px;

   }

a {
    color: rgb(234, 210, 222);
  }


  @media screen and (max-width: 992px) {
   body {
    background-color: blue;
   } 
   #bio-image {
        border-radius: 50%;
   margin-bottom: 20px;
   align-items: center;
   margin-left: 20px;}
  }