.container{ width: 1024px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px
 
}

body{ 
    background-color: #141413;
font-family: georgia, "times new roman", times,serif;
color: #faf4f4;
margin: 0;
padding: 0;
align-items: center;

}

header { 
    background-image: url(./images/Freedom.png);
  background-size: contain;
  background-repeat: no-repeat;
    color: #eee;
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

h1{
    color: #eee;
    font-size:28px;
    background-color: transparent;
    text-align: center;
}

h2{
    font-size: 24px;
    text-align: center;



}

.projects {
    display: table-column-group;
}

#main-bio{
    float: left;
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    align-content: center;


}

#contact-info {
    display: inline;
    float: right;
    width: 30%;
    line-height: 1.6;
    font-size: small;
    background-image: url(./images/chaos.png);
    background-size: contain;
    background-repeat: no-repeat;
   
}

#contact-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact-info ul li {
    display: inline-block;
    margin-right: 10px;
}

#contact-info ul li a {
    text-decoration: none;
    color: #fff; /* Change color as needed */
}


button {
    background-color: #cd8d8d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: transparent;
}

button:hover {
    background-color: #555;
    transform: scale(1, 1);
}

#bio-image{
background-image: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url('./images/chaos.png');
    border: 40px lightblue;
    border-radius: 50%;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 20px;

   }

   .image-style {
    margin: 10px;
    border: transparent;
    border-radius: 10px;
    transition: transform 0.3s;
}

.image-style:hover {
    transform: scale(1.1);
}
a {
    color: rgb(251, 247, 249);
    text-decoration: none;
  }


  @media screen and (max-width: 992px) {
   body {
    background-color: rgb(11, 11, 20);}
   } 

   @media screen and (max-width: 778px) {
    body {
     background-color: rgb(11, 11, 20);}
    } 
        
   #bio-image {
        border-radius: 50%;
   margin-bottom: 20px;
   align-items: center;
   margin-left: 20px;
  }
  
  h4 {
align-content: center;
align-items: center;
  }